:root { 
    --principal: #c69214; 
    --sobre-principal: #12100e; 
    --fundo: #12100e; 
    --superficie: #1e1b18; 
    --texto: #f5f0eb; 
    --realce: #e5a91e; 
    --texto-fraco: #a89e96; 
    --linha: #342e28; 
}